
body
{
	margin: 0;
	padding: 0;
	font-family: 'Arial', sans-serif;
}

.colorWhite{
	color: rgb(70, 70, 70)!important;
	margin-top: 14%;
	text-align: center;
}

#section_event
{
	height: auto;
	background-attachment: scroll;
	width: 100%;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
}

#section_event .leftBox
{
	margin-top: 5.5%;
	padding: 4.2%;
	box-sizing: border-box;
}

#section_event .leftBox .content
{
	color: #fff;
	background: rgb(43, 43, 43);
	padding: 3.36%;
	transition:	.5s;
}


#section_event .leftBox .content:hover
{
	color: rgb(8, 8, 8);
	background: orange;
}

#section_event .leftBox .content h1
{
	margin: 0;
	padding: 0;
	font-size: 50px;
	text-transform: uppercase;
}

#section_event .leftBox .content p
{
	margin: 10px 0 0;
	padding: 0;
}

#section_event .leftBox #button
{
	text-align: center; 
	margin-top:30px;
}

#section_event .leftBox #button .main-hr
{
	width: 30%;
	border: none;
	border-top: 1px solid #c3c3c3;
}

#section_event .leftBox #button .icon-btn
{
	width: 50px;
	height: 50px;
	border: 1px solid #cdcdcd;
	background: rgba(0,0,0,.5);
	border-radius: 25px;
	overflow: hidden;
	position: relative;
	transition: width 0.2s ease-in-out;
}

#section_event .leftBox #button .add-btn:hover
{
	width: 120px;
}

#section_event .leftBox #button .add-btn::before,
#section_event .leftBox #button .add-btn::after
{
	transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
	content: "";
	position: absolute;
	height: 4px;
	width: 10px;
	top: calc(50% - 2px);
	color: black;
	background: orange;
}

#section_event .leftBox #button .add-btn::after
{
	right: 14px;
	overflow: hidden;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

#section_event .leftBox #button .add-btn::before
{
	left: 14px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

#section_event .leftBox #button .icon-btn:focus
{
	outline: none;
}

#section_event .leftBox #button .btn-txt
{
	opacity: 0;
	transition: opacity 0.2s;
	color: white;
}

#section_event .leftBox #button .add-btn:hover::before,
#section_event .leftBox #button .add-btn:hover::after 
{
	width: 4px;
	border-radius: 2px;
}

#section_event .leftBox #button .add-btn:hover .btn-txt
{
	opacity: 1;
}

#section_event .leftBox #button .add-icon::after,
#section_event .leftBox #button .add-icon::before
{
	transition: all 0.2s ease-in-out;
	content: "";
	position: absolute;
	height: 20px;
	width: 2px;
	top: calc(50% - 10px);
	color: black;
	background: orange;
	overflow: hidden;
}
#section_event .leftBox #button .add-icon::before
{
	left: 22px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

#section_event .leftBox #button .add-icon::after
{
	right: 22px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

#section_event .leftBox #button .add-btn:hover .add-icon::before
{
	left: 15px;
	height: 4px;
	top: calc(50% - 2px);
}

#section_event .leftBox #button .add-btn:hover .add-icon::after
{
	right: 15px;
	height: 4px;
	top: calc(50% - 2px);
}

/*##################################*/


#detailsCollapse{
	padding-left: 65%;
}

#cardMargin{
	margin: 3% 13% 4% 13%;
}

.marginTitle{
	margin: 5% 0% 5% 0%;
	text-align: center;
	color: rgb(82, 82, 82);
}


.noDecorLink{
	text-decoration: none!important;
	color: rgb(59, 59, 59);
}

.text-muted{
	font-size: small;
	text-align: center;
	margin: 3% 0% 5% 0%;	
}

.marginTop-Bot{
	margin: 3% 0% 5% 0%;
}

#margin-top{
	margin-top: 5%;
}

#top-success{
	margin-top: 5%;
	padding-right: -15%;
}

#centered-text{
	margin-left: 50%;
	margin-bottom: 2%;
	text-decoration: none;
}

.card-txt{
	margin: 5% 0% 5% 0%;
}

.lib-panel {
	margin-bottom: 20Px;
	margin-left: 290px;
	width: 170%;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
	margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}
