/* Create footer */
footer
{
    padding: 30px 0;
    background-color: #606060;
}

/* Center footer content */
footer #inner_footer
{
    display: flex;
    margin: auto auto;
}

/* first box content */
footer #inner_footer #footer_copyright
{
    color: #B9B9B9;
    font-family: 'Open Sans', sans-serif;
    flex: 1 1 auto;
}

/* Copyright text */
footer #inner_footer #footer_copyright p
{
    color: #B9B9B9;
    font-size: 18px;
	width: 100%;
	margin: 18px;
    text-align: center;
}

/* social box content */
footer #inner_footer #footer_social
{
    text-align: center;
    flex: 1 1 auto;
}

/* Social Link */
footer #inner_footer #footer_social a
{
    text-decoration:none;
    color: #B9B9B9;
    padding: 14px;

}

/* mention box content */
footer #inner_footer #footer_mention
{
    font-family: 'Open Sans', sans-serif;
    flex: 1 1 auto;
}

/* mention link */
footer #inner_footer #footer_mention a
{
    color: #B9B9B9;
    display: block;
    font-size: 18px;
    padding-bottom: 5px;
    text-align: center;
}

/* responsive */
@media(max-width: 800px)
{
    footer #inner_footer
    {
        display: block;
    }
}