.footer {
  background: #343a40; 
}
.footer .links ul {
  list-style-type: none;
}
.footer .links a {
  color: white;
  transition: color 0.2s;
}
.footer .links a:hover {
  text-decoration: none;
  color: orange;
}
.footer .about-company i {
  font-size: 25px;
}
.footer .about-company a {
  color: white;
  transition: color 0.2s;
}
.footer .about-company a:hover {
    text-decoration: none;
  color: orange;
}
.footer .location i {
  font-size: 18px;
}
.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer_social{
    margin-top: 2%;
    padding-right: 4%;
}

#aligned-copyright{
    text-align: center;
}

.color-white{
    color: rgb(214, 214, 214);
}